body {
  background-color: #1A2D4E;
  font-family: "Encode Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  text-align: center;
}
.navbar {
  background-color: #007BFF; /* Cor azul */
}

.h1 {
  color: white; /* Texto branco */
  margin: 0; /* Remove margens extras */
}

.user-text {
  font-size: 1.2rem;
  color: white;
}
