#profile-main-container {
  display: flex;
  padding-top: 60px; 
  padding-bottom: 50px; 
}
.sidebar-container {
  width: 250px; 
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f4f4f4;
  padding-top: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-container {
  margin-left: 250px; 
  width: calc(100% - 250px);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.submit-group button {
  padding: 10px 20px;
  background-color: #1d4b91;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-group button:hover {
  background-color: #163c75;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}

button:disabled {
  background-color: #ccc;
}
