
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.alerta {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.cadastro-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  background: #003580;
}

.cadastro-navbar {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 15px 30px;
  background: #003580;
}


.nav-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.cadastro-box {
  display: grid;
  place-items: center;
  height: 100%;
}


.cadastro-form {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  gap: 15px;
}


.cadastro-form h2 {
  color: #003580;
}

.form-grid {
  display: grid;
  grid-template-rows: repeat(5, auto); 
  gap: 10px;
}


.input-group {
  display: grid;
  grid-template-columns: auto 1fr; /* Ícone ou label + Input */
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}


.input-group label {
  white-space: nowrap; 
  margin-right: 10px; 
  font-weight: bold;
  color: #000;
}

.input-group select {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 5px;
  height: 40px;
}



.input-group svg {
  color: #555;
  justify-self: center; 
}


button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #003580;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


button:hover {
  background: #002460;
}


.toggle-btn {
  background: none;
  color: #003580;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: block;
}

.toggle-btn:hover {
  text-decoration: underline;
}
