@font-face {
    font-family: 'DM Sans';
    src: url('./DMSans-Variable.ttf') format('truetype');
    font-weight: 400 700; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('./DMSans-Italic-Variable.ttf') format('truetype');
    font-weight: 400 700;
    font-style: italic;
  }
  