@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

#main {
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  height: 100vh;
  width: 100vw;
  background-color: #d9d9d9;
}
#navbar_area {
  height: 10vh;
}
#content_area {
  background-color: #d9d9d9;
  color: #fff;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

#nav > h1 {
  font-size: 43px;
  font-family: "Encode Sans Condensed", sans-serif;
  display: flex;
  justify-content: center;
  color: #fff;
}

#nav {
  background-color: #265ba7;
  height: 10vh;
}

.header {
  height: 12vh;
}
#content_section_left {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.6fr 0.5fr;
  justify-content: center;
}

.inputs_section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  width: 100%;
}
.input_area {
  border-radius: 8px;
  height: 5vh;
}
input.input_area {
  width: 23vw;
}
#logo {
  height: 20vh;
}
#image_section {
  display: grid;
  justify-content: center;
}
#content_section_left > h1 {
  align-content: center;
  text-align: center;
}

#button_area {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin: 0px;
}

#form_button {
  border-radius: 4px;
  width: 20vw;
  height: 6vh;
  background-color: #265ba7;
  color: #fff;
}

#password_advice_box {
  height: 19vh;
  border-radius: 10px;
  padding-left: 30px;
  background-color: #265ba7;
  width: auto;
  position: left;
 
}

#content_section_rigth {
  display: grid;
  align-items: center;
}



/* Reposividades */


@media(max-width:1000px) {

#content_area{
  display: grid;
  grid-template-columns: 1fr;
}

#navbar_area{
  height: 37px;
}

#nav > h1{
 font-size: 30px;

}

#logo{
  height: 20vh;
}

  #content_section_left ,h1 {
    font-size: 16px;

  }

  input.input_area {
  width: 160px;
  font-size: 13px;
  grid-column: 3 /-2;
  text-align: left;
  
  }

  #button_area > button{
    font-size: 12px;
   justify-content: center;
   width: 100px;
   
  }


  #contet_area{
    display: grid;
    grid-template-columns: 1fr;
  }
 
  #content_setion_left{
    grid-template-rows: auto;
    padding: 15px;
    justify-content: center;
  }

  #form_button{
    width: 100%;
  }
#content_section_rigth{
  margin-bottom: 26px;

}
  #password_advice_box{
    width: 100%;
    font-size: 12px;
    text-align: left;
    height: auto;
    padding: 10px 20px;
    gap: 10px ;
    
  }

  #password_advice_box ul, li{
   list-style: none;
   
  }

}



@media(min-width:900px) {

  #content_area{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #navbar_area{
    height: 37px;
  }
  input.input_area {
   
    text-align: center;
    
    }

  #password_advice_box{
    height: 19vh;
    width: 60vh;
    
  }

  #password_advice_box , p{
    font-size: 17px;

  }
  #password_advice_box ,ul > li{
    list-style: none;
    font-size: 15px;
    gap: 5px;
   }

   input.input_area{
    width: 200px;

   }

}

